@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p img {
  width: 750px;
  margin: 5px auto;
}

pre {
  background-color: rgba(0, 0, 0, 0.548);
  width: 760px;
  padding: 6px 18px;
}

code {
  width: 100%;
  color: white;
  scroll-behavior: smooth;
  overflow-x: scroll;

}

.move-center {
  width: 100%;
  max-width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0;
  background-color: rgba(217, 217, 217, 0.26);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}

.align-self-flex-end {
  align-self: flex-end;
}
.seach-form-wrapper {
  max-width: 90%;
  width: 100%;
}
.seach-form-wrapper input {
  border: 1px solid #ddd;
  width: 100%;
}
.seach-form-wrapper input:focus {
  outline: none;
}

.seach-form-wrapper input::-webkit-input-placeholder { /* Edge */
  text-align: center;
}

.seach-form-wrapper input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-align: center;
}

.seach-form-wrapper input::placeholder {
  text-align: center;
}

.seach-form-wrapper button {
  font-size: 17px;
  padding: 10px 10px;
  width: 120px;
}

#search-result {
 background-color: #000;
}
#search-result .box {
  display: inline-block;
  margin: 0 1.5%;
  width: 25%;
}

.blog {
  min-height: 100vh;
}
.blog-inner {
  max-width: 420px;
}
